## Connect with database

### Install mysql connector

In [1]:
!pip3 install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /usr/lib/python3.12/site-packages (8.0.21)
Requirement already satisfied: protobuf>=3.0.0 in /usr/lib64/python3.12/site-packages (from mysql-connector-python) (3.19.6)

### Import mysql connector and module with authentication data

In [1]:
import mysql.connector as connector
from auth import database, login, passw
from datetime import datetime

### Connect with database

In [2]:
connection = connector.connect(user=login, password=passw, db=database)

In [3]:
cursor = connection.cursor()

### Create and execute query to show tables of database

In [4]:
show_tables_query = "SHOW tables"

In [5]:
cursor.execute(show_tables_query)

In [6]:
results = cursor.fetchall()

In [7]:
for table in results:
    print(table[0])

Bookings
Cuisine
Customers
ItemsOrderedMoreThan2
MenuOrder
MenuPosition
Menus
MoreThan150View
OrderStatus
OrderStatusLog
OrderType
Orders
OrdersView
PositionCategory
Positions
Staff
Tables

In [8]:
query = """SELECT DISTINCT c.CustomerID, 
            c.CustomerFirstName, 
            c.CustomerLastName, 
            c.PhoneNumber, 
            c.Email 
            FROM Customers AS c 
            JOIN Orders AS o 
            ON c.CustomerID = o.CustomerID 
            WHERE o.TotalCost > 60"""

In [9]:
cursor.execute(query)

In [10]:
results = cursor.fetchall()

In [11]:
for customer in results:
    print(customer)

(2, 'Rodrigo', 'Cortes', '768852729', 'rcortes@cort.com')
(25, 'David', 'Taylor', '567-890-1234', 'david.taylor@xampl.com')
(11, 'John', 'Smith', '123-456-7890', 'john.smith@snsco.com')
(15, 'David', 'Taylor', '567-890-1234', 'david.taylor@xampl.com')
(18, 'John', 'Case', '5238942043', 'jc23@postmail.com')
(24, 'Laura', 'Wilson', '456-789-0123', 'laura.wilson@plex.com')
(23, 'James', 'Brown', '345-678-9012', 'james.brown@sample.com')
(19, 'Edwin', 'Marcos', '3832389', 'e.marcos@books.com')
(12, 'Anna', 'Smith', '234-567-8901', 'anna.smith@snsco.com')
(16, 'Henry', 'Jones', '485364829', 'henry.j@jnj.com')
(26, 'Henry', 'Jones', '485364829', 'henry.j@jnj.com')
(29, 'Edwin', 'Marcos', '3832389', 'e.marcos@books.com')
(30, 'Max', 'Pereira', '982723729', 'max.pereira@fastmail.com')
(9, 'Laura', 'Wilson', '456-789-0123', 'laura.wilson@plex.com')
(10, 'David', 'Taylor', '567-890-1234', 'david.taylor@xampl.com')
(28, 'John', 'Case', '5238942043', 'jc23@postmail.com')
(5, 'Max', 'Pereira', '982723729', 'max.pereira@fastmail.com')
(8, 'James', 'Brown', '345-678-9012', 'james.brown@sample.com')
(22, 'Anna', 'Smith', '234-567-8901', 'anna.smith@snsco.com')
(7, 'Anna', 'Smith', '234-567-8901', 'anna.smith@snsco.com')
(20, 'Max', 'Pereira', '982723729', 'max.pereira@fastmail.com')
(100, 'Claire', 'Rogers', '71367968', 'claire.rogers@maildomain.com')
(219, 'Isaiah', 'Hughes', '81058254', 'isaiah.hughes@starpost.com')
(102, 'Nora', 'James', '55168729', 'nora.james@starpost.com')
(120, 'Jeremiah', 'Cooper', '24806184', 'jeremiah.cooper@maildomain.com')
(105, 'Cameron', 'Johnson', '76100426', 'cameron.johnson@bestmail.com')
(125, 'Mia', 'Jackson', '36594319', 'mia.jackson@maildomain.com')
(59, 'Samantha', 'Green', '36002727', 'samantha.green@starpost.com')
(111, 'Penelope', 'Taylor', '90447841', 'penelope.taylor@maildomain.com')
(185, 'Lucy', 'Price', '65441373', 'lucy.price@maildomain.com')
(89, 'Zoe', 'Wood', '73612399', 'zoe.wood@bestmail.com')
(227, 'Evelyn', 'Stewart', '97880758', 'evelyn.stewart@maildomain.com')
(176, 'Scarlett', 'Reed', '12867490', 'scarlett.reed@starpost.com')
(68, 'Cameron', 'Ortiz', '67624074', 'cameron.ortiz@starpost.com')
(205, 'Evelyn', 'Rogers', '45441252', 'evelyn.rogers@bestmail.com')
(124, 'Jonathan', 'Davis', '57862972', 'jonathan.davis@maildomain.com')
(165, 'Harper', 'Robinson', '21647768', 'harper.robinson@maildomain.com')
(64, 'Violet', 'Castillo', '66273637', 'violet.castillo@starpost.com')
(84, 'Leah', 'Sanchez', '99413968', 'leah.sanchez@maildomain.com')
(112, 'Olivia', 'Williams', '94216406', 'olivia.williams@bestmail.com')
(50, 'Charles', 'Morris', '20443645', 'charles.morris@mail.com')
(17, 'Rodrigo', 'Cortes', '768852729', 'rcortes@cort.com')
(14, 'Laura', 'Wilson', '456-789-0123', 'laura.wilson@plex.com')
(153, 'Alexander', 'Ward', '39020468', 'alexander.ward@maildomain.com')
(138, 'Henry', 'Carter', '28566332', 'henry.carter@bestmail.com')
(93, 'Mia', 'Reyes', '73129431', 'mia.reyes@bestmail.com')
(86, 'Joshua', 'Murphy', '51629196', 'joshua.murphy@maildomain.com')
(188, 'Hazel', 'King', '31977214', 'hazel.king@maildomain.com')
(187, 'William', 'Campbell', '95196995', 'william.campbell@starpost.com')
(189, 'Jonathan', 'Harris', '58014178', 'jonathan.harris@maildomain.com')
(61, 'Savannah', 'Richardson', '98986400', 'savannah.richardson@maildomain.com')
(114, 'Katherine', 'Brooks', '28205612', 'katherine.brooks@bestmail.com')
(98, 'Harper', 'Kim', '79984614', 'harper.kim@mail.com')
(158, 'Mila', 'Brooks', '76558646', 'mila.brooks@starpost.com')
(152, 'Sofia', 'Allen', '80883122', 'sofia.allen@maildomain.com')
(71, 'Elizabeth', 'Morgan', '92518550', 'elizabeth.morgan@starpost.com')
(154, 'Jameson', 'Cox', '27279559', 'jameson.cox@bestmail.com')
(177, 'Luke', 'Walker', '17286249', 'luke.walker@mail.com')
(148, 'Ellie', 'Cook', '70595322', 'ellie.cook@starpost.com')
(104, 'Victoria', 'Wright', '61593169', 'victoria.wright@bestmail.com')
(67, 'Layla', 'Smith', '87115262', 'layla.smith@bestmail.com')
(186, 'Jack', 'Sanchez', '35163110', 'jack.sanchez@mail.com')
(169, 'Olivia', 'Diaz', '18374120', 'olivia.diaz@maildomain.com')
(229, 'Christian', 'King', '48115538', 'christian.king@starpost.com')
(144, 'Aubrey', 'Roberts', '88860945', 'aubrey.roberts@maildomain.com')
(223, 'Abigail', 'Young', '35951281', 'abigail.young@bestmail.com')
(216, 'Mia', 'Richardson', '83579865', 'mia.richardson@maildomain.com')
(77, 'Zoe', 'Turner', '35409294', 'zoe.turner@starpost.com')
(95, 'Nathan', 'Campbell', '22804692', 'nathan.campbell@mail.com')
(128, 'Evan', 'Price', '74872990', 'evan.price@mail.com')
(134, 'Elijah', 'Cox', '62867161', 'elijah.cox@starpost.com')
(80, 'Aria', 'Miller', '72576495', 'aria.miller@mail.com')
(66, 'Dylan', 'Baker', '63713089', 'dylan.baker@mail.com')
(195, 'Nathan', 'Taylor', '30825217', 'nathan.taylor@mail.com')
(214, 'Zachary', 'Ward', '14629214', 'zachary.ward@bestmail.com')
(36, 'Gabriel', 'Cook', '37901891', 'gabriel.cook@bestmail.com')
(83, 'Elizabeth', 'Adams', '59661246', 'elizabeth.adams@starpost.com')
(203, 'Hannah', 'Adams', '80204899', 'hannah.adams@maildomain.com')
(51, 'Luke', 'Ross', '73480596', 'luke.ross@bestmail.com')
(146, 'Savannah', 'Walker', '48588084', 'savannah.walker@bestmail.com')
(101, 'Stella', 'Nelson', '30698278', 'stella.nelson@starpost.com')
(166, 'Madison', 'Gray', '14670054', 'madison.gray@starpost.com')
(193, 'John', 'Edwards', '31673211', 'john.edwards@maildomain.com')
(3, 'John', 'Case', '5238942043', 'jc23@postmail.com')
(92, 'Jeremiah', 'Hill', '20206429', 'jeremiah.hill@mail.com')
(49, 'Zachary', 'Castillo', '26234473', 'zachary.castillo@mail.com')
(56, 'Jeremiah', 'Price', '21920562', 'jeremiah.price@bestmail.com')
(192, 'Bella', 'Price', '76928270', 'bella.price@maildomain.com')
(109, 'Cameron', 'Ruiz', '68297249', 'cameron.ruiz@starpost.com')
(69, 'Aaliyah', 'Gomez', '84813769', 'aaliyah.gomez@maildomain.com')
(202, 'Samantha', 'Perez', '69606461', 'samantha.perez@starpost.com')
(181, 'Connor', 'Green', '62091494', 'connor.green@maildomain.com')
(88, 'Julian', 'Diaz', '31525164', 'julian.diaz@mail.com')
(43, 'Tyler', 'Mendoza', '42972863', 'tyler.mendoza@maildomain.com')
(171, 'Zachary', 'Ruiz', '30725904', 'zachary.ruiz@mail.com')
(118, 'John', 'Rivera', '41642818', 'john.rivera@bestmail.com')
(21, 'John', 'Smith', '123-456-7890', 'john.smith@snsco.com')
(117, 'Alexander', 'Morales', '52680809', 'alexander.morales@mail.com')
(90, 'Chloe', 'Ruiz', '92986173', 'chloe.ruiz@maildomain.com')
(180, 'Charlotte', 'Torres', '20231809', 'charlotte.torres@maildomain.com')
(123, 'Harper', 'Campbell', '45528200', 'harper.campbell@starpost.com')
(210, 'Maya', 'Anderson', '60628523', 'maya.anderson@mail.com')
(82, 'Tyler', 'Cruz', '46025803', 'tyler.cruz@bestmail.com')
(137, 'Nicholas', 'Chavez', '63209920', 'nicholas.chavez@maildomain.com')
(122, 'Isabella', 'Baker', '74029246', 'isabella.baker@maildomain.com')
(150, 'Jeremiah', 'Campbell', '67606951', 'jeremiah.campbell@bestmail.com')
(199, 'Savannah', 'Evans', '37082321', 'savannah.evans@bestmail.com')
(72, 'Isaiah', 'Ortiz', '54260536', 'isaiah.ortiz@bestmail.com')
(167, 'Victoria', 'Hernandez', '34457727', 'victoria.hernandez@bestmail.com')
(211, 'Zachary', 'Lewis', '85597315', 'zachary.lewis@starpost.com')
(174, 'Claire', 'Perez', '30219925', 'claire.perez@starpost.com')
(204, 'Samuel', 'Anderson', '37725956', 'samuel.anderson@bestmail.com')
(179, 'Jordan', 'Ramirez', '92351250', 'jordan.ramirez@maildomain.com')
(41, 'Chloe', 'Sanchez', '49678152', 'chloe.sanchez@maildomain.com')
(163, 'Avery', 'Wood', '50549930', 'avery.wood@mail.com')
(126, 'Leah', 'Williams', '53232682', 'leah.williams@maildomain.com')
(155, 'Michael', 'Lewis', '59375501', 'michael.lewis@starpost.com')
(47, 'David', 'Alvarez', '14855796', 'david.alvarez@bestmail.com')
(222, 'Mia', 'Scott', '20255112', 'mia.scott@bestmail.com')
(79, 'Nicholas', 'Hill', '36279315', 'nicholas.hill@bestmail.com')
(133, 'Sofia', 'Walker', '50917756', 'sofia.walker@maildomain.com')
(57, 'Hannah', 'Phillips', '24005150', 'hannah.phillips@bestmail.com')
(224, 'Christian', 'Long', '74353219', 'christian.long@maildomain.com')
(42, 'Liam', 'Walker', '34427509', 'liam.walker@mail.com')
(164, 'Jordan', 'Sanchez', '50386536', 'jordan.sanchez@mail.com')
(147, 'Mia', 'Turner', '75207342', 'mia.turner@bestmail.com')
(91, 'Zachary', 'Mendoza', '25692501', 'zachary.mendoza@maildomain.com')
(94, 'Alexander', 'Torres', '27902043', 'alexander.torres@bestmail.com')
(48, 'Elijah', 'Long', '72589139', 'elijah.long@mail.com')
(32, 'Andrew', 'Price', '96074641', 'andrew.price@mail.com')
(183, 'Benjamin', 'Thompson', '46421274', 'benjamin.thompson@maildomain.com')
(60, 'William', 'Young', '80112627', 'william.young@maildomain.com')
(103, 'Emily', 'Gomez', '66455764', 'emily.gomez@mail.com')
(62, 'Logan', 'Evans', '68133393', 'logan.evans@starpost.com')
(201, 'Lucy', 'Wright', '56090461', 'lucy.wright@starpost.com')
(96, 'Ellie', 'Carter', '68949731', 'ellie.carter@maildomain.com')
(13, 'James', 'Brown', '345-678-9012', 'james.brown@sample.com')
(121, 'Hannah', 'King', '87188112', 'hannah.king@mail.com')
(76, 'Emma', 'White', '20134430', 'emma.white@starpost.com')
(209, 'William', 'Nguyen', '59798296', 'william.nguyen@mail.com')
(140, 'Audrey', 'Thomas', '79269872', 'audrey.thomas@starpost.com')
(190, 'Sofia', 'Moore', '42032382', 'sofia.moore@mail.com')
(40, 'Nicholas', 'Martinez', '75981412', 'nicholas.martinez@starpost.com')
(106, 'Tyler', 'Walker', '20654087', 'tyler.walker@maildomain.com')
(87, 'Natalie', 'Wilson', '81876015', 'natalie.wilson@bestmail.com')
(226, 'Matthew', 'Chavez', '83384841', 'matthew.chavez@starpost.com')
(206, 'Evelyn', 'Smith', '54802941', 'evelyn.smith@maildomain.com')
(78, 'Wyatt', 'Bailey', '84204527', 'wyatt.bailey@bestmail.com')
(135, 'Layla', 'Allen', '51108173', 'layla.allen@maildomain.com')
(119, 'Samantha', 'Stewart', '85406262', 'samantha.stewart@mail.com')
(172, 'Ethan', 'Carter', '75602538', 'ethan.carter@bestmail.com')
(35, 'Alexander', 'Baker', '70941693', 'alexander.baker@mail.com')
(182, 'Ethan', 'Richardson', '78134330', 'ethan.richardson@bestmail.com')
(225, 'Luke', 'Chavez', '71430425', 'luke.chavez@mail.com')
(178, 'Penelope', 'White', '99592980', 'penelope.white@starpost.com')
(162, 'Lucy', 'Harris', '35627829', 'lucy.harris@maildomain.com')
(207, 'Brandon', 'Bailey', '88601277', 'brandon.bailey@starpost.com')
(197, 'Aaliyah', 'Wood', '75568823', 'aaliyah.wood@starpost.com')
(127, 'Jeremiah', 'Murphy', '37027719', 'jeremiah.murphy@bestmail.com')
(131, 'Lily', 'Robinson', '30328779', 'lily.robinson@bestmail.com')
(113, 'Scarlett', 'Baker', '86907008', 'scarlett.baker@starpost.com')
(191, 'Logan', 'Hernandez', '93251502', 'logan.hernandez@mail.com')
(1, 'Henry', 'Jones', '485364829', 'henry.j@jnj.com')
(175, 'Leah', 'Collins', '51265732', 'leah.collins@mail.com')
(55, 'Lily', 'Williams', '56912857', 'lily.williams@starpost.com')
(151, 'Zoe', 'Brooks', '43653550', 'zoe.brooks@mail.com')
(157, 'Aaron', 'Rodriguez', '33207900', 'aaron.rodriguez@maildomain.com')
(81, 'Zachary', 'Campbell', '96091207', 'zachary.campbell@bestmail.com')
(39, 'Julian', 'Kelly', '38831396', 'julian.kelly@bestmail.com')
(97, 'Addison', 'Harris', '74896444', 'addison.harris@maildomain.com')
(58, 'Ava', 'Garcia', '53159181', 'ava.garcia@starpost.com')
(184, 'Joshua', 'Robinson', '35523097', 'joshua.robinson@starpost.com')
(129, 'Hannah', 'Mitchell', '98268434', 'hannah.mitchell@maildomain.com')
(160, 'Leah', 'Patel', '95590314', 'leah.patel@mail.com')
(200, 'Nicholas', 'Edwards', '88234967', 'nicholas.edwards@mail.com')
(142, 'Bella', 'Clark', '81923437', 'bella.clark@maildomain.com')
(107, 'Harper', 'Evans', '30265351', 'harper.evans@bestmail.com')
(99, 'Jackson', 'Green', '50068342', 'jackson.green@maildomain.com')
(139, 'Brandon', 'Torres', '57149991', 'brandon.torres@mail.com')
(38, 'Claire', 'Ruiz', '59163182', 'claire.ruiz@maildomain.com')
(198, 'Ruby', 'Gomez', '92510345', 'ruby.gomez@maildomain.com')
(220, 'Aria', 'Gray', '39189659', 'aria.gray@maildomain.com')
(6, 'John', 'Smith', '123-456-7890', 'john.smith@snsco.com')
(196, 'Lucy', 'Clark', '29696407', 'lucy.clark@bestmail.com')
(208, 'Victoria', 'Johnson', '67393382', 'victoria.johnson@starpost.com')
(37, 'Scarlett', 'King', '98300445', 'scarlett.king@maildomain.com')
(136, 'Emily', 'Wood', '26738262', 'emily.wood@starpost.com')
(217, 'Isaac', 'Thomas', '65595766', 'isaac.thomas@mail.com')
(170, 'Ruby', 'Robinson', '24952275', 'ruby.robinson@mail.com')
(45, 'John', 'Stewart', '62673773', 'john.stewart@starpost.com')
(221, 'Dylan', 'Jones', '78878080', 'dylan.jones@mail.com')
(145, 'Madison', 'Perez', '69557769', 'madison.perez@mail.com')
(168, 'Bella', 'Reed', '21093342', 'bella.reed@starpost.com')
(141, 'Layla', 'Cook', '56023733', 'layla.cook@starpost.com')
(230, 'Madison', 'Turner', '94764406', 'madison.turner@starpost.com')
(63, 'Aria', 'Mendoza', '82823827', 'aria.mendoza@starpost.com')
(161, 'Evelyn', 'Davis', '70322531', 'evelyn.davis@mail.com')
(4, 'Edwin', 'Marcos', '3832389', 'e.marcos@books.com')
(53, 'John', 'Johnson', '50995250', 'john.johnson@maildomain.com')
(143, 'William', 'Collins', '44463168', 'william.collins@bestmail.com')
(44, 'Mia', 'Lee', '93543787', 'mia.lee@starpost.com')
(132, 'Bella', 'Green', '63187335', 'bella.green@mail.com')
(115, 'Christopher', 'Morales', '36806554', 'christopher.morales@starpost.com')
(85, 'Alexander', 'White', '15257275', 'alexander.white@mail.com')
(228, 'Tyler', 'Rodriguez', '41326660', 'tyler.rodriguez@maildomain.com')
(194, 'Logan', 'Hughes', '60628730', 'logan.hughes@maildomain.com')
(73, 'Benjamin', 'Patel', '38083374', 'benjamin.patel@mail.com')
(215, 'Avery', 'Gray', '66402362', 'avery.gray@mail.com')
(65, 'Elijah', 'Baker', '21354215', 'elijah.baker@maildomain.com')
(33, 'Ellie', 'Hall', '25402826', 'ellie.hall@maildomain.com')
(74, 'Isabella', 'Baker', '74450690', 'isabella.baker@mail.com')
(130, 'Logan', 'Bennett', '99866389', 'logan.bennett@starpost.com')
(54, 'Luke', 'Edwards', '17391137', 'luke.edwards@starpost.com')
(70, 'Penelope', 'Ramos', '34761263', 'penelope.ramos@mail.com')
(218, 'Harper', 'Bailey', '35177995', 'harper.bailey@maildomain.com')
(173, 'Sofia', 'Campbell', '71799616', 'sofia.campbell@maildomain.com')
(52, 'Cameron', 'Davis', '82516727', 'cameron.davis@starpost.com')
(31, 'Evan', 'Kelly', '19502593', 'evan.kelly@bestmail.com')
(34, 'Stella', 'Ross', '23033256', 'stella.ross@mail.com')
(110, 'Lillian', 'Edwards', '63705242', 'lillian.edwards@maildomain.com')
(27, 'Rodrigo', 'Cortes', '768852729', 'rcortes@cort.com')
(46, 'Jacob', 'Miller', '23066876', 'jacob.miller@mail.com')
(159, 'Matthew', 'Rogers', '42751311', 'matthew.rogers@mail.com')

# Create bookings managment system

### Get data from customer in order to book a table

In [12]:
customer_first_name = input("Insert first name: ")

Insert first name:  Martin

In [13]:
customer_last_name = input("Insert last name: ")

Insert last name:  Jimenez

In [14]:
customer_phone_number = input("Insert phone number: ")

Insert phone number:  123456

In [15]:
customer_email = input("Insert email address: ")

Insert email address:  martin.jimenez@.mail.com

In [16]:
booking_date = input("Insert booking date: ")

Insert booking date:  2024-05-14

In [17]:
booking_hour = input("Insert booking hour: ")

Insert booking hour:  20:00:00

In [18]:
table = input("Insert table's number: ")

Insert table's number:  3

In [19]:
employee_id = input("Insert employee ID")

Insert employee ID 7

In [20]:
print("Summary:", "\nBooking date and time: ", 
      " ".join((booking_date, booking_hour)), 
      "\nCustomer name: ", customer_first_name, customer_last_name,
      "\nPhone number: ", customer_phone_number,
      "\nEmail address: ", customer_email,
     "\nTable: ", table,
     "\nEmployeeID: ", employee_id)

Summary:
Booking date and time:  2024-05-14 20:00:00
Customer name:  Martin Jimenez
Phone number:  123456
Email address:  martin.jimenez@.mail.com
Table:  3
EmployeeID:  7

### Check if table is free at given time

In [21]:
cursor.callproc("CheckBooking", (booking_date + " " + booking_hour, table))

('2024-05-14 20:00:00', '3')

In [22]:
results = next(cursor.stored_results())

In [23]:
dataset = results.fetchall()

In [24]:
for x in dataset:
    print(x)

('Free',)

## Add valid booking

### Check if customers data is represented in the Customers table

#### If customer is not represented in Customers table add new record with inserted data

In [27]:
cursor.execute("SELECT * FROM Customers WHERE CustomerFirstName = %s AND CustomerLastName = %s AND PhoneNumber = %s AND Email = %s", (customer_first_name, customer_last_name, customer_phone_number, customer_email))
results = cursor.fetchall()
customer_status = False
customer_id = None
if results:
    for x in results:
        print(x)
        customer_id = x[0]
        customer_status = True
else:
    customer_status = False
    print("Customer not represented in database")

if not customer_status:
    insert_query = """INSERT INTO Customers (CustomerFirstName, CustomerLastName, PhoneNumber, Email)
    VALUES (%s, %s, %s, %s)"""
    values = (customer_first_name, customer_last_name, customer_phone_number, customer_email)
    print(insert_query)
    cursor.execute(insert_query, values)
    connection.commit()

(234, 'Martin', 'Jimenez', '123456', 'martin.jimenez@.mail.com')

### Book a table

In [95]:
try:
    cursor.callproc("AddValidBooking", (int(table), datetime.now().strftime("%Y-%m-%d %H:%M:%S"), booking_date + " " + booking_hour, customer_id, int(employee_id)))
except Exception as e:
    print("There was an error: ", e)

In [96]:
connection.commit()

In [97]:
results = next(cursor.stored_results())

In [98]:
try:
    if results.fetchall()[0][0] > 1:
        print(f"Table {table} is already booked")
    else:
        cursor.execute("SELECT * FROM Bookings ORDER BY BookingReceivedAt DESC LIMIT 1")
        print(f"Table {table} has been successfuly booked")
        for x in cursor.fetchall():
            print("BookingID: ", x[0])
            print("Table: : ", x[1])
            print("Booking date: ", x[3])
            print("CustomerID: ", x[4])
except Exception as e:
    print(e)

Table 3 has been successfuly booked
BookingID:  899
Table: :  3
Booking date:  2024-05-14 20:00:00
CustomerID:  234

### Cancel booking

In [99]:
booking_id = input("Insert BookingID: ")

Insert BookingID:  899

### Check if booking exists

In [101]:
cursor.execute("SELECT * FROM Bookings WHERE BookingID = %s", (booking_id,))
results = cursor.fetchall()
if not results:
    print("There is no booking with given ID")
else:
    try:
        cursor.callproc("CancelBooking", (booking_id,))
        connection.commit()
        cursor.execute("SELECT * FROM Bookings WHERE BookingID = %s", (booking_id,))
        if not cursor.fetchall():
            print(f"Booking with ID {booking_id} has been successfuly canceled")
    except Exception as e:
        print(e)

There is no booking with given ID